button {
    border: none;
    outline: none;
    background: none;
    font-family: 'Open Sans', Helvetica, Arial, sans-serif;
    display: block;
    margin: 0 auto;
    width: 260px;
    height: 36px;
    border-radius: 30px;
    color: #fff;
    font-size: 15px;
    cursor: pointer;
}
input{
    border-bottom: none;
    height: 25px;
    width: 180px;
}
.BA-enter{
    background-color: rgb(2, 149, 206);
    margin-top: 15px;
    margin-left: 0;
}